/* Section hero */

.main {
    position: relative;
}

.about-hero {
    position: relative;
    padding-top: 116px;
    padding-right: 0;
    padding-bottom: 249px;
    padding-left: 100px;
    background-image: url("../images/about-hero-bg.png"), url("../images/Rectangle-background.png");
    background-repeat: no-repeat;
    background-size: 710px 696px, 100%;
    background-blend-mode: normal, overlay;
    background-position: calc(50% + 400px) top, center center;
    background-color: #F3D7B7;
    
    &::before {
        position: absolute;
        top: -60px;
        left: calc(50% - 26px);
        display: block;
        width: 160px;
        height: 160px;
        background-image: url("../images/but-first-img.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
}
        
.about-hero__inner {
    width: 372px;
}

.about-hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin: 0 0 24px;
}

.about-hero__text {
    
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

/* Hero tugadi */




