@import "visually-hidden";
@import "container";
@import "header";
@import "about-header";
@import "hero";
@import "about-hero";
@import "collection";
@import "about-collection";
@import "choose";
@import "about-choose";
@import "works";
@import "about-works";
@import "footer";
@import "about-footer";