/* Footer */

.footer {
    margin: 0;
    padding: 0;
    padding: 65px 50px;
    background-image: url("../images/Rectangle-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: overlay;
    background-color: #F3D7B7;
}

.footer__inner {
    display: flex;
    align-items: center;
}

.footer__menu {
    margin-right: 331px;
    margin-left: 246px;
}

.footer__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__item {
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

.footer__item:nth-child(1) {
    margin-left: 0;
}

.footer__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #333333;
}

.footer__icon {
    margin-right: 30px;
}