/* Works */

.works {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    
    /* margin-top: 80px; */
    
}

.works__wrap {
    background-image: url("../images/works-back.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: overlay;
    background: #0A775F;
}


.works__inner {
    margin: 0;
    margin-top: 80px;
    padding: 0;
    width: 1400px;
    padding-top: 50px;
    padding-bottom: 50px;
    // background-image: url("../images/works-back.png");
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-blend-mode: overlay;
    // background: #0A775F;

    &::after {
        position: absolute;
        display: block;
        top: calc(50% - 350px);
        right: calc(50% - 680px);
        background-image: url("../images/works-image.png");
        background-repeat: no-repeat;
        background-size: 100%;
        
        width: 192px;
        height: 139px;
        content: "";
    }
}

.works__title {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    
    
    text-align: center;
    font-variant: small-caps;
    
    color: #FFFFFF;
    
}

.works__div {
    display: flex;
    justify-content: space-between;
    width: 966px;
    margin: 0;
    
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 0;
    background-image: url("../images/background-line.png");
    background-repeat: no-repeat;
    background-position: 30px;
    
}

.works__span {
    width: 60px;
    height: 60px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
    box-sizing: border-box;
}

.works__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.works__item {
    position: relative;
    width: 433px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding-right: 28px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: #F8F8F2;
}

.works__item:nth-child(1) {
    margin-left: 30px;
}

.works__item:nth-child(3) {
    margin-right: 31px;
}

.works__number {
    position: absolute;
    top: 20px;
    right: 28px;
    
    width: 65px;
    height: 75px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    z-index: 2;
    
    
    font-variant: small-caps;
    
    color: #333333;
    opacity: 0.8;
}

.works__divs {
    width: 231px;
    margin: 0;
    padding: 0;
    padding-top: 140px; 
}

.works__strong {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    
    color: #333333;
}

.works__dive {
    width: 385px;
}

.works__text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
    
    
    color: #333333;
}

.works__link {
    width: 193px;
    display: block;
    margin: 60px auto 50px;
    padding: 16px 24px;
    background: #C99B67;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    
    color: #FFFFFF;
    text-decoration: none;
}

/* Works tugadi */